<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://copyzoomfiletoblob.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5f95ff03-18d1-4aea-ad6f-871250d58af2/resourceGroups/copyzoomfiletoblob/providers/Microsoft.Web/sites/copyZoomFileToBlob</ResourceId>
    <UserName>$copyZoomFileToBlob</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://copyzoomfiletoblob.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>